* {
    margin: 0;
}

.conteneur {
    width: 80%;
    margin: auto;
}

.entete, section, footer {
    /* border: 1px solid rgb(128, 50, 136); */
    margin-bottom: 1%;
    display: inline-block;
    width: 100%;
}

.entete, footer {
    height: 100px;
}

section {
    min-height: 200px;
}

.entete{
    border-bottom: 20px solid white;
}
.entete1 {
    text-align: center;
    width: 20%;
}
.entete1,.entete2 {
    height: 100px;
    z-index: 2;
}
.entete1,.section1 {
    float: left;
}
.entete2,.section2 {
    width: 80%;
    float: right;
}
.section1,.section2 {
    min-height: 200px;
    margin-top: 120px;
}
.entete2,footer {
    background-color: rgb(128, 50, 136);
    margin-left: 25%;
    width: 75%;
}
.section1 {
    background-color: rgb(241, 210, 52);
    width: 20%;
    height: 100vh;
}
.section2{
    width: 75%;
    float: right;
}
.entete2 {
    float: none;
    margin-left: 20%;
    margin-right: 0;
    width: 60%;
}
.entete, .section1{
    position: fixed;
}
footer{
    margin-bottom: 0;
    border-top: 20px solid white;
}

.logo {
    height: 100%;
    width: auto;
}

h1,h2 {
    margin: 0;
    text-align: center;
    color: rgb(255, 255, 255);
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 18px;
}

.entete2 {
    position: relative;
}

nav {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 20px;
}

a {
    text-decoration: none;
    border-left: 1px solid rgb(128, 50, 136);
}

.lienLogo{
    border: none;
}

.nav {
    background-color: rgb(241, 210, 52);
    margin-left: -5px;
    padding: 0 10px;
}

.pageactu {
    color: rgb(241, 210, 52);
    background-color: rgb(128, 50, 136);
}

.pieds {
    text-align: center;
    padding: 10px;
}

.ppieds {
    display: inline-block;
    margin: 0;
    color:rgb(255, 255, 255);
}

.contact {
    height: 20px;
    width: auto;
}

.ou {
    margin: auto 30px;
}

span {
    font-style: italic;
}

p{
    margin: 10px;
}
.phrase1 {
    background-color:  rgb(119, 93, 255); 
    color:rgb(255, 255, 255);
    border-radius: 65% 0;
    padding: 40px;
    max-width: 200px;
    text-align: center;
    position: absolute;
    right: 10%;
    z-index: -1;
}
.phrase2 {
    background-color:  rgb(119,93,255); 
    color:rgb(255, 255, 255);
    border-radius: 0 65%;
    padding: 40px;
    max-width: 200px;
    text-align: center;
    margin-top: 200px;
}
.phrase3 {
    background-color:  rgb(119,93,255); 
    color:rgb(255, 255, 255);
    border-radius: 65% 0;
    padding: 50px 45px;
    max-width: 200px;
    text-align: center;
    position: absolute;
    right: 10%;
    z-index: -1;
}
.phrase4 {
    background-color:  rgb(119,93,255); 
    color:rgb(255, 255, 255);
    border-radius: 0 30%;
    padding: 20px;
    max-width: 500px;
    text-align: center;
    margin-top: 230px;
}
.domaine{
    border: 6px ridge rgb(119,93,255);
    text-align: center;
    padding-top: 10px;
    color:  rgb(30, 2, 172);
}
