*{
    margin: 0;
}
.conteneur{
    width: 80%;
    margin: auto;
}
.entete, section, footer{
    margin-bottom: 1%;
    display: inline-block;
    width: 100%;
}
.entete, footer{
    height: 100px;
}
section{
    min-height: 200px;
    margin-bottom: 0;
}
.entete1, .entete2{
    height: 100px;
    z-index: 2;
}
.section1, .section2{
    min-height: 200px;
    margin-top: 120px;
}
.entete1, .section1{
    float:left;
}
.section2{
    width: 75%;
    float: right;
}
.entete1{
    text-align: center;
    width: 20%;
}
.entete2, footer{
    background-color: rgb(128,50,136);
}
.section1{
    background-color: rgb(241, 210, 52);
    width: 20%;
    height: 100vh;
}
.entete2{
    float: none;
    margin-left: 20%;
    margin-right: 0;
    width: 60%;
    position: relative;
}
.entete, .section1{
    position: fixed;
}
footer{
    margin-bottom: 0;
    border-top: 20px solid white;
    margin-left: 25%;
    width: 75%;
}
.entete{
    border-bottom: 20px solid white;
}
.logo{
    height: 100%;
    width: auto; 
}
h1,h2{
  margin:0;
  text-align: center;
  color: rgb(255, 255, 255);
}
h1{
  font-size: 30px;
}
h2{
  font-size: 18px;
}
nav{
    position: absolute;
    bottom: 0;
    right: 0;
	font-size: 20px;
}
a{
    text-decoration: none;
}
.nav{
    background-color: rgb(241, 210, 52);	
    margin-left: -5px;	
    padding: 0 10px;
}
.pageactu{
	color: rgb(241, 210, 52);
	background-color: rgb(128,50,136);
}
.pieds{
	text-align: center;
    padding: 10px;
}
.ppieds{
	display: inline-block;
	margin-bottom: 0;
}
.contact{
	height: 20px;
	width: auto;
}
.ou{
	margin: auto 30px;
}
.col1{
    background-color: rgba(120, 93, 255, 0.393);
}
td{
    text-align: center;
    background-color: rgba(120, 93, 255, 0.223);
}
li, td{
    color:rgb(17, 2, 96);
}
h3{
    color:rgb(119,93,255);
    font-size: 40px;
    text-align: center;
    margin: 20px auto;
}
h4{
    background-color:rgb(119,93,255);
    color: rgb(255, 255, 255);
    margin: 20px auto 10px auto;
    padding-left: 10px;
}
ul{
    margin-top: 0;
}
.section2 p{
    color: rgba(0, 0, 0, 0.719);
    font-style: italic;
    font-size: 20px;
    margin: 10px;
}
.lien{
    display: block;
    height: 40px;
    padding:  10px;
    font-size: 23px;
    overflow: hidden;
    color: rgb(128,50,136);
}
.lien:active{
    background-color: rgb(128,50,136);
    color: rgb(241, 210, 52);
}


